<div class="card mt-5 m-5 p-3">
  <div class="container p-3">
    <div class="row justify-content-between">
      <div class="col-6">
        <label for="text" class="col-form-label" style="color: #30669f"
          ><b>List Registration</b></label
        >
      </div>
      <div class="col-2">
        <button
          routerLink="/view/form"
          class="btn btn-outline-primary float-end"
        >
          <i class="bi bi-patch-plus">Add</i>
        </button>
      </div>
      <div class="col-4">
        <form
          [formGroup]="searchGroup"
          (ngSubmit)="submitSearch()"
          class="input-group float-end"
        >
          <input
            type="text"
            class="form-control"
            list="searchListOptions"
            placeholder="Search Data"
            formControlName="search"
            [(ngModel)]="search"
          />
          <datalist id="searchListOptions">
            <option
              value="{{ history }}"
              *ngFor="let history of searchList"
            ></option>
          </datalist>

          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">
              <i class="bi bi-search" (click)="submitSearch()"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive mt-3">
        <table class="table p-3" style="color: #30669f; text-align: center">
          <thead class="rounded">
            <tr>
              <th>No</th>
              <th (click)="sort('firstName')">
                Nama <i class="bi bi-arrow-down-up"></i>
              </th>
              <th (click)="sort('username')">
                Username <i class="bi bi-arrow-down-up"></i>
              </th>
              <th (click)="sort('status')">
                Status <i class="bi bi-arrow-down-up"></i>
              </th>
              <th (click)="sort('group')">
                Group <i class="bi bi-arrow-down-up"></i>
              </th>
              <th (click)="sort('group')">
                Birth Date <i class="bi bi-arrow-down-up"></i>
              </th>
              <th (click)="sort('image')">
                Image <i class="bi bi-arrow-down-up"></i>
              </th>

              <th><i class="fa fa-sort"></i>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let list of employeeList
                  | filter : search
                  | orderBy : orderHeader : isDescOrder
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >
              <td>{{ (page - 1) * tableSize + i + 1 }}</td>
              <td>{{ list.firstName }} {{ list.lastName }}</td>
              <td>{{ list.username }}</td>
              <td>{{ list.status }}</td>
              <td>{{ list.group }}</td>
              <td>{{ list.birthDate | date : "dd MMMM yyyy" }}</td>
              <div *ngIf="!list.image; else elseBlock">
                <td>
                  <img
                    class="img-fluid rounded-circle"
                    src="../../../../../assets/images/7309681.jpg"
                    alt=""
                  />
                </td>
              </div>
              <ng-template #elseBlock>
                <td>
                  <img
                    class="img-fluid rounded-circle"
                    src="{{ list.image }}"
                    alt=""
                  />
                </td>
              </ng-template>

              <td>
                <div class="btn-group" role="group">
                  <div class="col-lg-4 col-md-4 col-sm-4 me-2">
                    <a
                      class="btn btn-outline-warning"
                      routerLink="/view/detail/{{ list.id }}"
                    >
                      <i class="bi bi-person-vcard"></i>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 me-2">
                    <a
                      class="btn btn-outline-primary"
                      routerLink="/view/form/{{ list.id }}"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 me-2">
                    <button
                      class="btn btn-outline-danger"
                      (click)="deleteList(list.firstName, list.lastName)"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-2 mt-3">
            Show By:
            <select
              class="form-select form-select-sm"
              (change)="onTableSizeChange($event)"
              aria-label=".form-select-sm example"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="col-lg-10 mt-3 d-flex justify-content-end">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
              (pageBoundsCorrection)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>

        <div
          class="p-5"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          "
        >
          <!-- <img src="../../../assets/img/background-img.png" alt="" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
