.card-list{
    width: 200px;
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.form-select {
    width: 70px;
}

.card{
border: 0;
border-bottom: #331ab1 10px solid;
border-top: #331ab1 10px solid;
outline: 6;
}