.gradient-custom-2 {

    background: #fccb90;
    
    background: -webkit-linear-gradient(to right, #a972f8, #500686);
    
    background: linear-gradient(to right,#a972f8, #500686);
    
    }

    img{
        width: 100px;
    }
    